.gridBlock {
  grid-area: blockquote;
}

.wrapper {
  background-color: #303030;
  padding: 2vh 1.5vw 2vh 1vw;
  border-radius: 3px;
  display: flex;
}

.blockquote {
  margin-left: 1.3vw;
  padding: 0.5vh 0;
}

.verticalLine {
  background-color: #eaeaea;
  width: 0.2vw;
}

.quote,
.author {
  color: #eaeaea;
}

.author {
  font-size: 0.9rem;
  margin-top: 2vh;
  font-style: italic;
  float: right;
}
