/* карточки с машинами */
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.carsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.5rem;
}

.carImg {
  width: 90%;
}

.carName {
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover * {
  cursor: pointer;
  color: white;
}

/* choosed car */

.choosedСarImg {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  cursor: default;
  display: block;
  width: 90%;
}

.navForCar {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 3rem;
}

/* choosed car */

.calcText,
.calcQuestion {
  font-size: 1.2rem;
  text-align: center;
  color: #eaeaea;
}

.calcBlock {
  background-color: rgb(48, 48, 48);
  border-radius: 3px;
  padding: 2rem 2rem;
  margin: auto;
  width: 60%;
}

.calcQuestion {
  margin-top: 2rem;
}

.calcBtns {
  margin: 3rem auto 0 auto;
}

.calcBtns * {
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #eaeaea;
  color: #eaeaea;
}

.calcBtns *:hover {
  background-color: #eaeaea;
  color: rgb(48, 48, 48);
}

.calcBtn:nth-child(1) {
  width: 40%;
}
.calcBtn:nth-child(2) {
  width: 60%;
}
.calcBtn:nth-child(3) {
  width: 80%;
}
.calcBtn:nth-child(4) {
  width: 100%;
}

/* pop-up window */

.cancelSvg {
  transition: all 0.7s;
  cursor: pointer;
  height: 100%;
  float: right;
}

.cancelSvg:hover {
  transform: rotate(180deg);
}

.blur {
  filter: blur(3px);
}

.popUp {
  background-color: #fdfdfd;
  border: 1px solid #303030;
  border-radius: 3px;
  position: fixed;
  padding: 1rem;
  padding-bottom: 2rem;
  right: 10%;
  left: 10%;
  top: 10%;
}

.popUp header {
  width: 100%;
  height: 2.5rem;
}

.popUp main {
  text-align: center;
  margin-top: 2rem;
}

.popUpTitle {
  padding: 0 3rem;
  font-size: 2rem;
}

.diffLevel,
.adviceBlock {
  text-align: center;
  margin-top: 2rem;
}

.diffLevelText {
  margin-bottom: 0.8rem;
}

.fireSvg {
  width: 1.5rem;
}

.popUpNav {
  margin-top: 2rem;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.adviceBlock {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.advice {
  font-size: 1.2rem;
}

.popUpQuestion {
  margin-top: 2rem;
}

.salaryForm {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.salaryForm * {
  width: 100%;
}

/* media */

@media (max-width: 660px) {
  .popUp {
    right: 5%;
    left: 5%;
    top: 5%;
  }
  .salaryForm {
    max-width: 100%;
  }
  .popUpTitle {
    padding: 0;
    font-size: 2rem;
  }
  .adviceBlock {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .popUpNav {
    max-width: 100%;
    column-gap: 0.5rem;
  }
  .carsList {
    grid-template-columns: 100%;
  }
  .calcBlock {
    width: 100%;
  }
}
