.functionsList {
  grid-area: functions;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}

.funcLink {
  padding: 2vh 2vw;
  display: grid;
  grid-template:
    [row1-start] "." auto [row1-end]
    [row2-start] "name" 20% [row2-end]
    [row3-start] "." 1.5rem [row3-end]
    [row4-start] "img" 40% [row4-end]
    [row5-start] "." auto [row5-end]
    / 100%;
}

.funcLink:hover p {
  color: white;
}

.funcLink:hover img {
  filter: invert(100%);
  filter: brightness(100);
  transition: all 7s;
}

.funcName {
  grid-area: name;
  letter-spacing: 0.03vw;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.funcImg {
  grid-area: img;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
  max-width: 12rem;
  cursor: pointer;
  height: 7rem;
}

@media (max-width: 730px) {
}
