.header {
  flex: 0 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 730px) {
  .header {
    margin: 0;
    row-gap: 3rem;
    flex-direction: column-reverse;
  }
}
