/*  location of common elements  */

html,
body,
.wrapper,
.container {
  height: 100%;
}

.wrapper {
  display: grid;
  margin-top: 1rem;
  grid-template-rows: auto 1fr auto;
}

.content {
  margin: 3rem 1rem;
}

/* section ???!!!*/
.section {
  display: flex;
  justify-content: space-between;
  margin: 80px 60px 0px 60px;
}

/*  Common styles for elements  */

* {
  letter-spacing: 0.02vw;
  box-sizing: border-box;
  color: #303030;
  cursor: default;
  padding: 0;
  margin: 0;
}

.redSpan {
  color: red;
}

html {
  font-family: "forum";
  font-size: 18px;
}

body {
  background-color: #eaeaea;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* button */

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #303030;
  padding: 0.5rem 1.5rem;
  font-family: "forum";
  transition: all 0.5s;
  text-align: center;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #303030;
  cursor: pointer;
}

.btn:hover {
  background-color: #303030;
  color: #eaeaea;
}

.btnDisabled {
  opacity: 20%;
}

.btnDisabled:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  color: #303030;
}

/* fonts */
@font-face {
  src: url("../fonts/arbutus-slab.regular.ttf") format("truetype");
  font-family: "arbutus";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("../fonts/forum.ttf") format("truetype");
  font-family: "forum";
  font-style: normal;
  font-weight: normal;
}

/* media queries */

@media (max-width: 730px) {
  .wrapper {
    margin-top: 1.5rem;
  }
  .content {
    margin-top: 3rem;
  }
  .nav {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
  .oneBtn {
    margin: 0 20%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .container {
    grid-template-rows: 15% auto 2rem;
  }
}
