/*  Common styles  */

* {
  color: #303030;
  letter-spacing: 0.015vw;
  box-sizing: border-box;
  cursor: default;
  padding: 0;
  margin: 0;
}

html,
body,
.container {
  height: 100%;
}

.container {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}

html {
  font-family: "forum";
  font-size: 18px;
}

body {
  background-color: #eaeaea;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*  areas  */

.headerArea {
  flex: 0 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.mainArea {
  flex: 1 1 auto;
  margin: 4rem 1rem;
  display: grid;
  grid-template:
    [row1-start] "blockquote  . functions" 30% [row1-end]
    [row2-start] "services  . functions" 70% [row2-end]
    / 45% 10% 45%;
}

.footerArea {
  flex: 0 1 auto;
  background-color: #303030;
}

/* button */

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #303030;
  transition: all 0.3s;
  text-align: center;
  border-radius: 3px;
  font-size: 1.1rem;
  color: #303030;
  padding: 1vh 2vw;
  cursor: pointer;
}

.btn:hover {
  background-color: #303030;
  color: #eaeaea;
}

/* footer */

.footerText {
  line-height: 2rem;
  font-size: 0.9rem;
  text-align: center;
  color: #eaeaea;
}

/* section */
.section {
  display: flex;
  justify-content: space-between;
  margin: 80px 60px 0px 60px;
}

/* fonts */
@font-face {
  src: url("../fonts/arbutus-slab.regular.ttf") format("truetype");
  font-family: "arbutus";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("../fonts/forum.ttf") format("truetype");
  font-family: "forum";
  font-style: normal;
  font-weight: normal;
}

/* media queries */

@media (max-width: 730px) {
  .mainArea {
    grid-template:
      [row1-start] "blockquote" auto [row1-end]
      [row2-start] "functions" auto [row2-end]
      [row3-start] "services" auto [row3-end]
      / 100%;
    grid-row-gap: 5rem;
  }
}

@media (max-width: 630px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .headerArea {
    flex-direction: column;
  }
  .container {
    grid-template-rows: 15% auto 2rem;
  }
}
