/* ~~~ */
.wantContent {
  display: grid;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.carBtn {
  display: grid;
}

.carBtn * {
  justify-self: center;
  align-self: center;
  transition: all 0.5s;
  grid-template-rows: 70% 30%;
}

.carBtn:hover * {
  cursor: pointer;
  color: #eaeaea;
}

/* карточки с машинами */

.carsList {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  display: grid;
  gap: 0.5rem;
}

.carImg {
  width: 90%;
}

.carName {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* машина выбрана */

.choosedСarImg {
  justify-self: center;
  max-width: 750px;
  cursor: default;
  display: block;
  width: 90%;
}

.navForCar {
  align-self: flex-end;
  justify-self: center;
  column-gap: 1rem;
  display: flex;
}

/* choosed car */

.calcText,
.calcQuestion {
  font-size: 1.2rem;
  text-align: center;
  color: #eaeaea;
}

.calcBlock {
  background-color: rgb(48, 48, 48);
  border-radius: 3px;
  padding: 2rem 2rem;
  margin: auto;
  width: 60%;
}

.calcQuestion {
  margin-top: 2rem;
}

.calccarBtns {
  margin: 3rem auto 0 auto;
}

.calccarBtns * {
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #eaeaea;
  color: #eaeaea;
}

.calccarBtns *:hover {
  background-color: #eaeaea;
  color: rgb(48, 48, 48);
}

.calccarBtn:nth-child(1) {
  width: 40%;
}
.calccarBtn:nth-child(2) {
  width: 60%;
}
.calccarBtn:nth-child(3) {
  width: 80%;
}
.calccarBtn:nth-child(4) {
  width: 100%;
}

/* pop-up window */

.cancelSvg {
  transition: all 0.7s;
  cursor: pointer;
  height: 100%;
  float: right;
}

.cancelSvg:hover {
  transform: rotate(180deg);
}

.blur {
  filter: blur(3px);
}

.popUp {
  background-color: #fdfdfd;
  border: 1px solid #303030;
  border-radius: 3px;
  position: fixed;
  padding: 1rem;
  padding-bottom: 2rem;
  right: 10%;
  left: 10%;
  top: 10%;
}

.popUp header {
  width: 100%;
  height: 2.5rem;
}

.popUp main {
  text-align: center;
  margin-top: 2rem;
}

.popUpTitle {
  padding: 0 3rem;
  font-size: 2rem;
}

.diffLevel,
.adviceBlock {
  text-align: center;
  margin-top: 2rem;
}

.diffLevelText {
  margin-bottom: 0.8rem;
}

.fireSvg {
  width: 1.5rem;
}

.popUpNav {
  margin-top: 2rem;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.adviceBlock {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.advice {
  font-size: 1.2rem;
}

.popUpQuestion {
  margin-top: 2rem;
}

.salaryForm {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.salaryForm * {
  width: 100%;
}

.resHead {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.quizNav {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 2rem;
}

.miniCart {
  display: flex;
  justify-content: space-between;
}

.miniCarInfo {
  border: 1px solid #303030;
  border-radius: 3px;
  padding: 2rem;
  display: grid;
  width: 100%;
  grid-template-rows: 2rem 1rem 1rem 1fr;
  row-gap: 0.5rem;
}

.miniCarImg {
  width: 50%;
}

.resText {
  margin-bottom: 1rem;
  align-self: center;
}

/* media */
@media (max-width: 900px) {
  .carsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .carBtn {
    border-left: none;
    border-right: none;
  }
  .carsList {
    grid-template-columns: 100%;
    row-gap: 0;
  }
  .popUp {
    right: 5%;
    left: 5%;
    top: 5%;
  }
  .salaryForm {
    max-width: 100%;
  }
  .popUpTitle {
    padding: 0;
    font-size: 2rem;
  }
  .adviceBlock {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .popUpNav {
    max-width: 100%;
    column-gap: 0.5rem;
  }
  .calcBlock {
    width: 100%;
  }
}
