.blockquote {
  background-color: #303030;
  grid-area: blockquote;
  align-self: flex-start;
  display: grid;
  grid-template:
    "bookmark ."
    "bookmark quote" auto
    "bookmark author" 2rem
    "bookmark ."
    / auto 1fr;
  row-gap: 0.5rem;
  border-radius: 3px;
  column-gap: 0.5rem;
  padding: 1rem;
}

.bookmark {
  background-color: #eaeaea;
  grid-area: bookmark;
  width: 0.5rem;
}

.author,
.quote {
  display: grid;
  align-self: center;
  color: #eaeaea;
}

.quote {
  font-size: 1.2rem;
  grid-area: quote;
}

.author {
  grid-area: author;
}
